* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #073670;
    height: 500px;
}

header {
    width: 80%;
    margin: 0 auto;
}

header .menu {
    height: 80px;
    background-color: yellow;
}

.jumbo {
    width: 50%;
    float: left;
    background-color: green;
    height: 420px;
}

.photo_header {
    width: 50%;
    float: right;
    height: 420px;
    background-color: red;
}
